/* 로그인 */
.cnt_login .visual {padding:48px 0 18px; text-align:center;}
.cnt_login .login_area {border-top:2px solid #858585; border-bottom:1px solid #d1d1d1}
.cnt_login .login_area .cnt1 {float:left; width:468px;}
.cnt_login .login_area .cnt2 {float:left; width:296px;}
.cnt_login .login_area .input_text {width:143px; height:21px; border:1px solid #d6d6d6; line-height:21px;}
.cnt_login .login_area .input_text:focus {border:1px solid #3982b7;}
.login_form {position:relative; padding-top:56px;}
.login_form .login * {vertical-align:middle;}
.login_form .login label {display:inline-block; padding-left:81px; width:55px;}
.login_form .login li {margin-bottom:11px;}
.login_form .login .btn_login {position:absolute; top:57px; right:98px;}
.login_support {padding-top:24px; margin-top:60px; border-top:1px dotted #999999}
.login_support li {position:relative; padding:0 45px 0 24px; margin-bottom:14px;}
.login_support li:after {display:block; clear:both; content:'';}
.login_support li a {position:absolute; top:-5px; right:45px;}

.find_form1 {position:relative; padding:64px 0 0 0;}
.find_form1 .find_id p {position:absolute; top:28px; left:50px;}
.find_form1 .find_id label {display:inline-block; padding-left:48px; width:44px;}
.find_form1 .find_id li {margin-bottom:11px;}
.find_form1 .find_id .btn_findId {position:absolute; top:65px; right:73px}

.find_form2 {position:relative; padding-top:61px; margin-top:22px; border-top:1px dotted #999}
.find_form2 .find_pw p {position:absolute; top:28px; left:50px;}
.find_form2 .find_pw label {display:inline-block; padding-left:48px; width:44px;}
.find_form2 .find_pw li {margin-bottom:3px;}
.find_form2 .find_pw .btn_findPw {position:absolute; top:61px; right:73px}


.serviceBox {padding:15px 15px 0; margin:9px 0 14px 0; height:232px; overflow-x:hidden; overflow-y:scroll; background:#f8f8f8; border:1px solid #d1d1d1}
.serviceBox p {line-height:18px;}
.stepInfo {font-size:11px; color:#a5afb1;}
.stepChk {float:right; font-size:11px; color:#858585}

.cnt_service {margin-top:39px;}
.cnt_privacy {margin-top:55px;}

/* 회원가입 - 회원가입 완료 */
.join_step03 {position:relative; padding:249px 0 0 148px; background:url(../images/member/bg_join01.png) no-repeat 0 0}
.join_step03 .btn_sum {text-align:left;}

/* 이용약관 */
.memBox {padding:16px 15px; height:800px; overflow-x:hidden; overflow-y:auto; border:1px solid #d1d1d1; background:#f8f8f8}
.memBox * {color:#858585; line-height:18px;}
.memBox h3 {color:#575757;}
.memBox h4 {margin-top:17px;}

/* 회원탈퇴 */
.memleave {}
.memleave li {padding-left:12px; line-height:20px; background:url(../images/ico/dot01.gif) no-repeat 4px 8px;}
.memleave .cnt1 {padding-bottom:16px; margin:54px 0 31px; border-bottom:1px solid #ddd;}
.memleave .cnt2 .leaveBox {height:177px; overflow-x:hidden; overflow-y:auto; border:1px solid #d1d1d1; background:#f8f8f8;}
.memleave .cnt2 p {font-size:11px; color:#858585;}
.memleave .cnt2 p input {margin-right:8px;}
.memleave .cnt2 p span {color:#373737;}
.memleave .btn_sum {margin-top:58px;}